#banner_part {
    position: relative;

    .swiper {
        width: 100%;
        height: 700px;

        .swiper-slide {
            position: relative;
        }


        .swiper_content {
            text-align: center;
            position: absolute;
            left: 50%;
            top: 3%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);

            h2 {
                @include fswf(#fff, 40px, 700, $Merriweather);
                text-transform: capitalize;
                margin-bottom: 10px
            }

            h1 {
                span {
                    @include fswf(#DD2C00, 30px, 500, $Open);
                    text-transform: uppercase;

                    b {
                        @include fswf(#FEA116, 40px, 500, $Merriweather);
                        text-transform: capitalize;

                    }
                }
            }

            .button {
                margin-top: 30px;

                a {
                    @include fswf(#fff, 20px, 500, $Merriweather);
                    padding: 0 20px;
                    line-height: 50px;
                    background: #FEA116;
                    text-transform: uppercase;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;

                    &:hover {
                        background: #FFC400;
                    }
                }
            }
        }
        .swiper-pagination{
            @include fswf(#fff, 30px, 500, $Merriweather);
        }
        .arrow{
            color:#fff;

        }
    }
}